[access]
	inheritFrom = All-Projects
[project]
	description = "A bot that will expand [[wikilinks]] seen in an IRC channel into full URLs.  Will have per-channel configuration for what wiki is used as the base for the URLs, and will (eventually) support use of (globally-defined) interwiki prefixes to manually specify a particular wiki."
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group FastLizard4
	read = group Anonymous Users
	read = group Registered Users
	abandon = group Registered Users
	create = group FastLizard4
	create = group lizardlinky
	forgeCommitter = group FastLizard4
	push = +force group FastLizard4
	pushMerge = group FastLizard4
	label-Code-Review = -2..+2 group FastLizard4
	label-Code-Review = -2..+2 group lizardlinky
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group FastLizard4
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group lizardlinky
	rebase = group FastLizard4
	rebase = group lizardlinky
	submit = group FastLizard4
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group lizardlinky
	pushMerge = group FastLizard4
	pushMerge = group lizardlinky
[access "refs/tags/*"]
	pushTag = group FastLizard4
