[access]
	inheritFrom = All-Projects
[project]
	description = "A bot that will expand [[wikilinks]] seen in an IRC channel into full URLs.  Will have per-channel configuration for what wiki is used as the base for the URLs, and will (eventually) support use of (globally-defined) interwiki prefixes to manually specify a particular wiki."
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
